includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
    level: 9 # The level 9 is the highest level
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Cannot cast mixed to string#'
        -
            message: '#Undefined variable: \$this.*#'
            paths: 
              - ./tests
              - ./routes/console.php
        -
            message: '#Call to an undefined method#'
            path: ./tests

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
